#title {
    font-family: 'Geneva';
    font-style: italic;
    font-weight: bold;
    color: rgb(184, 26, 26);
}

hr{
    color: rgb(184, 26, 26);
    height: 5px;

}

#totalAttempts {
    color: rgb(255, 195, 13);
    font-family: 'Geneva';
    font-style: italic;
}